<div>
<h1 style="background-color:#82e0aa   ;padding:20px;border-radius:10px;border:3px solid #3339ff;color:#21618c  ;text-align:center; font-family: Babas; font-size: 3.0em;" > Segmentation of e-commerce website customers |Exploratory Data Analysis (EDA)

<p style="text-align:center;"><img src="https://d2mvnyejvnd30x.cloudfront.net/uploads/2022/08/Ecossistema-Olist.png"   width="400" height="250"/></p></h1>
</div>

<a id="toc"></a>
# Table of Contents
<a id="toc"></a>
- [1. Import libraries and data](#IR)
    - [1.1 Import Libraries](#imp)
    - [1.2 Data reading](#dr)
- [2. Data Preprocessing](#dp)
    - [2.1 Basic information of data](#basic)
    - [2.2 Datasets merging](#merge)
- [3. First Visualization](#FV)
    - [3.1 Histogramm](#hist)
    - [3.2 Barplot](#barplot)
    - [3.3 Outliers](#out)
- [4 Feature Engineering and Visualization](#FEV)
    - [4.1 Feature Engineering](#features)
    - [4.2 Visualization](#viz)
- [4 Export DataFrames](#export)

<a id="IR"></a>


# <h1 style="background-color:#82e0aa ;padding:18px;border-radius:10px;border:3px solid #3339ff;color:#21618c;text-align:center" >Import libraries and data</h1>

<a id="imp"></a>
## <span style="color:#33afff  ;"> Import libraries </span>

In [1]:
#builtin
import os

#data
import pandas as pd
import numpy as np
import missingno as msno
from datetime import date,timedelta
import plotly.express as px
import plotly.figure_factory as ff
import plotly.graph_objects as go
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline


#typing
from typing import List, Union

<a id="dr"></a>
## <span style="color:#33afff  ;"> Data reading </span>

We load datasets files first then, we read them with pandas

In [2]:
os.listdir()
path = "data/"
file_1= "olist_customers_dataset.csv"
file_2= "olist_geolocation_dataset.csv"
file_3= "olist_order_items_dataset.csv"
file_4= "olist_order_payments_dataset.csv"
file_5= "olist_order_reviews_dataset.csv"
file_6= "olist_orders_dataset.csv"
file_7= "olist_products_dataset.csv"
file_8= "olist_sellers_dataset.csv"
file_9= "product_category_name_translation.csv"

In [3]:
customer = pd.read_csv(path+file_1)
geolocation = pd.read_csv(path+file_2)
order_items = pd.read_csv(path+file_3)
order_payment = pd.read_csv(path+file_4)
order_reviews = pd.read_csv(path+file_5)
orders =pd.read_csv(path+file_6)
product = pd.read_csv(path+file_7)
seller = pd.read_csv(path+file_8)
category = pd.read_csv(path+file_9)

Let's look at these pandas tables

<a href="#toc" role="button" aria-pressed="true" >⬆️  Table of Contents  ⬆️</a>

<a id="dp"></a>
# <h1 style="background-color:#82e0aa ;padding:18px;border-radius:10px;border:3px solid #3339ff;color:#21618c;text-align:center" >Data Preprocessing</h1>

In this part, we'll look at the pandas table and then we will merge the data

<a id="basic"></a>
## <span style="color:#33afff  ;">  Basic information of data </span>

Let's get the basic information on each dataset

In [4]:
customer.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [5]:
customer.shape

(99441, 5)

In [6]:
customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

In [7]:
print("There is {} located in {} cities and {} states".format(customer.customer_unique_id.nunique(),
                                                             customer.customer_city.nunique(), 
                                                              customer.customer_state.nunique()))

There is 96096 located in 4119 cities and 27 states

In [8]:
customer.isna().mean()

customer_id                 0.0
customer_unique_id          0.0
customer_zip_code_prefix    0.0
customer_city               0.0
customer_state              0.0
dtype: float64

In [9]:
geolocation.head()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP

In [10]:
geolocation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   geolocation_zip_code_prefix  1000163 non-null  int64
 1   geolocation_lat              1000163 non-null  float64
 2   geolocation_lng              1000163 non-null  float64
 3   geolocation_city             1000163 non-null  object
 4   geolocation_state            1000163 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 38.2+ MB

In [11]:
geolocation.nunique()

geolocation_zip_code_prefix     19015
geolocation_lat                717360
geolocation_lng                717613
geolocation_city                 8011
geolocation_state                  27
dtype: int64

In [12]:
order_items.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [13]:
order_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

In [14]:
print("There is {} unique order to {} sellers on {} products".format(order_items.order_id.nunique(),
                                                                     order_items.seller_id.nunique(),
                                                                    order_items.product_id.nunique()))

There is 98666 unique order to 3095 sellers on 32951 products

In [15]:
order_items.shipping_limit_date = pd.to_datetime(order_items.shipping_limit_date)

In [16]:
print("The shipping limit data was between {} and {}".format(order_items.shipping_limit_date.min(),
                                                             order_items.shipping_limit_date.max()))

The shipping limit data was between 2016-09-19 00:15:34 and 2020-04-09 22:35:08

In [17]:
order_items.describe()

,order_item_id,shipping_limit_date,price,freight_value
count,112650.000000,112650,112650.000000,112650.000000
mean,1.197834,2018-01-07 15:36:52.192685312,120.653739,19.990320
min,1.000000,2016-09-19 00:15:34,0.850000,0.000000
25%,1.000000,2017-09-20 20:57:27.500000,39.900000,13.080000
50%,1.000000,2018-01-26 13:59:35,74.990000,16.260000
75%,1.000000,2018-05-10 14:34:00.750000128,134.900000,21.150000
max,21.000000,2020-04-09 22:35:08,6735.000000,409.680000
std,0.705124,NaN,183.633928,15.806405

In [18]:
order_payment.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [19]:
order_payment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

In [20]:
order_payment.nunique()

order_id                99440
payment_sequential         29
payment_type                5
payment_installments       24
payment_value           29077
dtype: int64

In [21]:
order_payment.describe()

       payment_sequential  payment_installments  payment_value
count       103886.000000         103886.000000  103886.000000
mean             1.092679              2.853349     154.100380
std              0.706584              2.687051     217.494064
min              1.000000              0.000000       0.000000
25%              1.000000              1.000000      56.790000
50%              1.000000              1.000000     100.000000
75%              1.000000              4.000000     171.837500
max             29.000000             24.000000   13664.080000

In [22]:
order_reviews.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53

In [23]:
order_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  object
 6   review_answer_timestamp  99224 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB

In [24]:
order_reviews.nunique()

review_id                  98410
order_id                   98673
review_score                   5
review_comment_title        4527
review_comment_message     36159
review_creation_date         636
review_answer_timestamp    98248
dtype: int64

In [25]:
order_reviews.isna().mean()

review_id                  0.000000
order_id                   0.000000
review_score               0.000000
review_comment_title       0.883415
review_comment_message     0.587025
review_creation_date       0.000000
review_answer_timestamp    0.000000
dtype: float64

We fill the <code>review_comment_title<\code> <code>nans<\code> values with <code>No Comment<\code> and <code>review_comment_message<\code>  <code>nans<\code> values with <code>No Message<\code>

In [26]:
order_reviews.review_comment_title = order_reviews.review_comment_title.fillna("No Comment")
order_reviews.review_comment_message = order_reviews.review_comment_message.fillna("No Message")

In [27]:
order_reviews.isna().mean()

review_id                  0.0
order_id                   0.0
review_score               0.0
review_comment_title       0.0
review_comment_message     0.0
review_creation_date       0.0
review_answer_timestamp    0.0
dtype: float64

In [28]:
order_reviews.nunique()

review_id                  98410
order_id                   98673
review_score                   5
review_comment_title        4528
review_comment_message     36160
review_creation_date         636
review_answer_timestamp    98248
dtype: int64

In [29]:
order_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     99224 non-null  object
 4   review_comment_message   99224 non-null  object
 5   review_creation_date     99224 non-null  object
 6   review_answer_timestamp  99224 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB

In [30]:
orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [31]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

In [32]:
orders.nunique()

order_id                         99441
customer_id                      99441
order_status                         8
order_purchase_timestamp         98875
order_approved_at                90733
order_delivered_carrier_date     81018
order_delivered_customer_date    95664
order_estimated_delivery_date      459
dtype: int64

In [33]:
orders.order_status.value_counts()

order_status
delivered      96478
shipped         1107
canceled         625
unavailable      609
invoiced         314
processing       301
created            5
approved           2
Name: count, dtype: int64

In [34]:
product.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [35]:
product.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB

In [36]:
product.nunique()

product_id                    32951
product_category_name            73
product_name_lenght              66
product_description_lenght     2960
product_photos_qty               19
product_weight_g               2204
product_length_cm                99
product_height_cm               102
product_width_cm                 95
dtype: int64

In [37]:
product.isna().sum()

product_id                      0
product_category_name         610
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

In [38]:
seller.head()

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

In [39]:
seller.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   int64
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: int64(1), object(3)
memory usage: 96.8+ KB

In [40]:
seller.nunique()

seller_id                 3095
seller_zip_code_prefix    2246
seller_city                611
seller_state                23
dtype: int64

In [41]:
seller.isna().mean()

seller_id                 0.0
seller_zip_code_prefix    0.0
seller_city               0.0
seller_state              0.0
dtype: float64

Let's see resume all the datasets basics information in a table

In [42]:
def relational_data(datasets, titles, drop_duplicated=False, cmap='YlGnBu'):
    
    """This function describe the contains of the multiple datasets:
    
        
        datasets : list of data 
        titles : the title of each data in datasets in list
        cmap :  Colormaps in Matplotlib
        drop_duplicated : False by default. True there's duplicated to drop.
    
    """
    
    if drop_duplicated:
        duplicated_datasets=[]
        for data in datasets:
            data.drop(data[data.duplicated()].index, axis=0, inplace=True)
            duplicated_datasets.append(data)
        datasets = duplicated_datasets
        
    else : 
        datasets = datasets
            
    
    data_summary = pd.DataFrame({},)
    data_summary['datasets']= titles
    data_summary['columns'] = [', '.join([col for col, null in data.isnull().sum().items() ]) for data in datasets]
    data_summary['total_rows']= [data.shape[0] for data in datasets]
    data_summary['total_cols']= [data.shape[1] for data in datasets]
    data_summary['total_duplicate']= [len(data[data.duplicated()]) for data in datasets]
    data_summary['total_null']= [data.isnull().sum().sum() for data in datasets]
    data_summary['null_cols'] = [', '.join([col for col, null in data.isnull().sum().items() if null > 0]) for data in datasets]
    
    
    return data_summary.style.background_gradient(cmap=cmap)

In [43]:
datasets = [customer, geolocation, order_items, order_payment, order_reviews, orders, product, seller, category]
titles = ["customers", "geolocation", "items", "payments", "reviews", "orders", "products", "sellers", "category"]
relational_data(datasets, titles, drop_duplicated=True )

<a id="merge"></a>
## <span style="color:#33afff  ;">  Datasets merging </span>

Since total rows are different, it is necessary to check duplicated rows on merging features before merging our datasets.

Since we will need to calculate the distance between the customer place and seller place, we need to have their respective geographical coordinates.

To do so we need to take into account a possible duplication of the rows.

In [44]:
code = customer.customer_zip_code_prefix.unique() #we get the zip code for all customers

customer_location = geolocation[geolocation.geolocation_zip_code_prefix.isin(code)] #get cutomer geographical coordinates

customer_location.drop(["geolocation_city", "geolocation_state"], axis=1, inplace=True) #drop the unecessaries columns
customer_location.columns = ["customer_zip_code_prefix", "customer_lat", "customer_lng"]  # rename columns
customer_location.reset_index(drop=True, inplace=True) #reset index

Now we had to merge cutomers location dataset with customer dataset and drop duplicates

In [45]:
customer = customer.merge(customer_location, how="left", on = "customer_zip_code_prefix") 
customer = customer.drop_duplicates(subset=["customer_id"])
customer.reset_index(drop=True, inplace=True)
customer

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,customer_lat,customer_lng
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,-20.509897,-47.397866
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP,-23.726853,-46.545746
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP,-23.527788,-46.660310
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP,-23.496930,-46.185352
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP,-22.987222,-47.151073
...,...,...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP,-23.587901,-46.501830
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP,-23.612294,-46.765787
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE,-3.744128,-38.510859
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS,-29.956391,-51.167614
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP,-23.593985,-46.910591

In [46]:
seller_code = seller.seller_zip_code_prefix.unique()#we get the zip code for all sellers
seller_location = geolocation[geolocation.geolocation_zip_code_prefix.isin(seller_code)]#get sellers geographical coordinates
seller_location.drop(["geolocation_city", "geolocation_state"], axis=1, inplace=True) #drop the unecessaries columns
seller_location.columns = ["seller_zip_code_prefix", "seller_lat", "seller_lng"]  # rename columns
seller_location.reset_index(drop=True, inplace=True)

Now we had to merge sellers location dataset with seller dataset and drop duplicates

In [47]:
seller = seller.merge(seller_location, how="left", on = "seller_zip_code_prefix")
seller = seller.drop_duplicates(subset=["seller_id"])
seller.reset_index(drop=True, inplace=True)
seller

,seller_id,seller_zip_code_prefix,seller_city,seller_state,seller_lat,seller_lng
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP,-22.898536,-47.063125
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP,-22.382941,-46.946641
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ,-22.910641,-43.176510
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP,-23.657250,-46.610759
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP,-22.971648,-46.533618
...,...,...,...,...,...,...
3090,98dddbc4601dd4443ca174359b237166,87111,sarandi,PR,-23.456431,-51.866369
3091,f8201cab383e484733266d1906e2fdfa,88137,palhoca,SC,-27.623801,-48.674286
3092,74871d19219c7d518d0090283e03c137,4650,sao paulo,SP,-23.659845,-46.677882
3093,e603cf3fec55f8697c9059638d6c8eb5,96080,pelotas,RS,-31.744231,-52.328761
3094,9e25199f6ef7e7c347120ff175652c3b,12051,taubate,SP,-23.016003,-45.582021

We merge all datasets into one dataset from customers dataset

To do so, we check the duplication of customers dataset first, we merge the remains datasets by interlocking.

In [48]:
customer_duplicate = customer[customer.duplicated(subset=["customer_id"])]
customer = customer.drop_duplicates(subset=["customer_id"])
print("Our Dataset has {} rows duplicated and {} rows after droping duplicated rows".format(customer_duplicate.shape[0],
                                                                                           customer.shape[0]))

Our Dataset has 0 rows duplicated and 99441 rows after droping duplicated rows

In [49]:
def merge_datasets(merging_base: pd.DataFrame, datasets: List[pd.DataFrame],
                   merging_keys: List[Union[str, List[str]]]) -> pd.DataFrame:
    """
    Merges multiple datasets with a merging base using specified merging keys.

    Args:
        merging_base (pd.DataFrame): The base DataFrame to merge other datasets onto.
        datasets (List[pd.DataFrame]): A list of DataFrames to be merged onto the merging base.
        merging_keys (List[Union[str, List[str]]]): A list of merging keys for each dataset to perform the merge.

    Returns:
        pd.DataFrame: The merged DataFrame.

    Raises:
        None.
    """

    data = merging_base
    for dataset, merging_key in zip(datasets, merging_keys):
        print("This dataset has {} rows duplicated and {} rows after dropping duplicated rows".format(
            dataset[dataset.duplicated(subset=merging_key)].shape[0],
            dataset.drop_duplicates(subset=merging_key).shape[0]))
        dataset = dataset.drop_duplicates(subset=merging_key)
        data = data.merge(dataset, how="left", on=merging_key)

    return data

In [50]:
datasets = [orders, order_reviews, order_payment, order_items,  product, seller]
keys = [ "customer_id", "order_id", "order_id", "order_id", "product_id",  "seller_id"]
data = merging(customer, datasets, keys)

NameError: name 'merging' is not defined

Let's get the basic information of our new datasets

In [ ]:
data.customer_id.nunique()

In [ ]:
data.info()

We convert time columns into datetime since these columns dtypes are object.

In [ ]:
date_type= ["order_purchase_timestamp", "order_approved_at",  "order_delivered_customer_date", "order_delivered_carrier_date", 
             "order_estimated_delivery_date", "review_creation_date" , "review_answer_timestamp" , "shipping_limit_date"]

for col in date_type:
     data[col] = pd.to_datetime(data[col])
data.dtypes

In [ ]:
msno.matrix(data)

In [ ]:
data.nunique()

In [ ]:
data.describe()

In [ ]:
data = data.dropna()
data.shape

In [ ]:
data.describe()

<a id="#toc" role="button" aria-pressed="true" >⬆️   Go to top    ⬆️</a>

<a id="FV"></a>
# <h1 style="background-color:#82e0aa ;padding:18px;border-radius:10px;border:3px solid #3339ff;color:#21618c;text-align:center" >First Visualization</h1>

<a id="hist"></a>
## <span style="color:#33afff  ;">  Histogramm </span>

In [ ]:
pd.set_option('display.max_columns', None)

In [ ]:
data.hist(figsize=(20,20), layout=(10,3), alpha=1, color='#4682b4', ec="k")
plt.tight_layout()
plt.show()

There's some outliers which can't help to visualize the real distribution of ou data.

In [ ]:
import seaborn as sns
plt.figure(figsize=(20, 20))
sns.relplot(data=data, x="order_purchase_timestamp", y="payment_value", hue="payment_type", col="order_status", col_wrap=2)
plt.show()

<a id="barplot"></a>
## <span style="color:#33afff  ;">  Barplot </span>

In [ ]:
data.groupby(data['order_purchase_timestamp'].dt.month).agg({"order_id": "nunique"}).plot(figsize=(12,8), kind="bar",
      title="Order number per month",
      ylabel="number of orders",
      xlabel="Month")
plt.xticks(np.arange(0,12), ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sept','Oct','Nov','Dec'])
plt.show()

August seems to be the prefer month for the customers to place their orders

In [ ]:
data.groupby(data['order_purchase_timestamp'].dt.month).agg({"payment_value": "sum"}).plot(figsize=(12,8), kind="bar",
      title="Payment value per month",
      ylabel="Payment Value",
      xlabel="Month")
plt.xticks(np.arange(0,12), ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sept','Oct','Nov','Dec'])
plt.show()

the month of may seems to be the prefer spending month for the customers

In [ ]:
data.groupby(data['order_purchase_timestamp'].dt.hour).agg({"payment_value": "mean"}).plot(figsize = (12,8), kind="bar",
                                                                                           title="Payment Value Mean per hour",
                                                                                           ylabel="Payment Value Mean",
                                                                                           xlabel="Hour")
plt.show()

the value of payments seems moderately higher for orders placed between 9am and 6pm.

In [ ]:
data.groupby(data['order_purchase_timestamp'].dt.dayofweek).agg({"payment_value": "mean"}).plot(figsize = (12,8), kind="bar",
                                                                                                title="Payment Value Mean per day",
                                                                                                ylabel="Payment Value Mean",
                                                                                                xlabel="Weekday")
plt.show()

There is not too much variation between week day purchase even if there slightly more purchase on friday and saturday.

In [ ]:
bar_data=data.groupby("customer_city")["customer_id"].count().sort_values(ascending=False).head(7)
sns.barplot(x = bar_data.index, y = bar_data.values)

Sao paulo has the largest number of customer.

In [ ]:
payment_value = data.groupby(["payment_type"]).agg({"payment_value": "mean"}).reset_index()

payment_value

In [ ]:
import plotly.offline as py
trace0 = go.Bar(
    x=payment_value["payment_type"].values,
    y=payment_value["payment_value"].values,
    marker=dict(
        color=['rgba(36,123,160,1)', 
               'rgba(75,147,177,1)',
               'rgba(112,193,179,1)', 
               'rgba(138,204,192,1)',
               'rgba(243,255,189,1)',
               'rgba(247,255,213,1)',
               'rgba(255,22,84,1)']),
)

df= [trace0]

layout = go.Layout(
    title='Revenue',
)

fig = go.Figure(data=df, layout=layout)
py.iplot(fig)

The most of payment has been made by credit_card

<a id="out"></a>
## <span style="color:#33afff  ;">  Outliers </span>

Let's drop the Outliers on payment value

In [ ]:
def remove_outliers(data: pd.DataFrame, columns_of_interest: List[Union[str, int]]) -> pd.DataFrame:
    """
    Removes outliers from the specified columns of a DataFrame using the Interquartile Range (IQR) method.

    Args:
        data (pd.DataFrame): The DataFrame containing the data.
        columns_of_interest (List[Union[str, int]]): A list of column names or indices to consider for outlier removal.

    Returns:
        pd.DataFrame: The DataFrame with outliers removed.

    Raises:
        None.
    """

    df = data.copy()
    for col in df[columns_of_interest].select_dtypes(include="number").columns:
        Q1 = df[col].quantile(0.25)
        Q3 = df[col].quantile(0.75)
        IQR = Q3 - Q1
        print("Interquartile Range for {} is {}".format(col, IQR))
        df = df[~((df[col] < (Q1 - 1.5 * IQR)) | (df[col] > (Q3 + 1.5 * IQR)))].reset_index(drop=True)

    return df

In [ ]:
df = IQR_outliers(data, ["payment_value"])
df.shape

<a id="FEV"></a>
# <h1 style="background-color:#82e0aa ;padding:18px;border-radius:10px;border:3px solid #3339ff;color:#21618c;text-align:center" >Feature Engineering and Visualization</h1>

<a id="features"></a>
## <span style="color:#33afff  ;"> Feature Engineering </span>

In [ ]:
df["delivery_delay"] = (df.order_delivered_customer_date - df.order_purchase_timestamp).dt.round('1d').dt.days

In [ ]:
def barplot(df: pd.DataFrame, features: List[str], x: str, y: bool = False) -> None:
    """
    Creates barplots for each feature in a DataFrame.

    Args:
        df (pd.DataFrame): The DataFrame containing the data.
        features (List[str]): A list of feature names.
        x (str): The column name to use for the x-axis of the barplots.
        y (bool, optional): Whether to use the y-axis or not. Defaults to False.

    Returns:
        None: Displays the barplots.

    Raises:
        barplot
    """

    for feature in features:
        plt.figure(figsize=(10, 10))
        sns.barplot(data=df, x=x, y=feature, errorbar="sd")
        plt.title(f"{feature} barplot by {x}")
        plt.show()

In [ ]:
font_dict = {"family": "serif",
              "color":  "#077df2",
              "weight": "bold",
              "size": 18}
fig = plt.figure(figsize=(12, 8))
sns.histplot(df.groupby("customer_unique_id").agg({"order_id": "nunique"}),
             x="order_id",  edgecolor="black", color="#062ef4", alpha=0.8)
plt.xlabel("Number of orders")
plt.ylabel("Number of customers")
plt.title(f"Distribution of the number of order by customer",
          fontdict=font_dict)
plt.show()

As we can see, the most of customer have order only one time in the concerned period.

In [ ]:
fig = plt.figure(figsize=(12, 8))
sns.histplot(df.groupby("customer_unique_id").agg({"customer_id": "nunique"}),
             x="customer_id",  edgecolor="black", color="#062ef4", alpha=0.8)
plt.xlabel("Customers")
plt.ylabel("Number of customers")
plt.title(f"Distribution of the number of order by customer",
          fontdict=font_dict)
plt.show()

In [ ]:
daily_orders = df.groupby(df["order_purchase_timestamp"].dt.date).count()["order_id"]
fig = plt.figure(figsize=(15, 8))
ax = daily_orders.plot(color="#0aa5d3")
ax.set_xlabel("Date")
ax.set_ylabel("Number of orders")
plt.title(f"Daily order Trend",  fontdict=font_dict)
plt.show()

The customer order growth slightly.

Let's calculate the distance between customer and seller which have some effec in customer order choice.

In [ ]:
def haversine_vectorize(lon1: Union[float, np.ndarray], lat1: Union[float, np.ndarray],
                        lon2: Union[float, np.ndarray], lat2: Union[float, np.ndarray]) -> Union[float, np.ndarray]:
    """
    Calculates the distance between two places using their geographical coordinates.

    Args:
        lon1 (float or np.ndarray): Longitude of the first place.
        lat1 (float or np.ndarray): Latitude of the first place.
        lon2 (float or np.ndarray): Longitude of the second place.
        lat2 (float or np.ndarray): Latitude of the second place.

    Returns:
        float or np.ndarray: The calculated distance between the two places in kilometers.

    Raises:
        None.
    """

    lon1, lat1, lon2, lat2 = map(np.radians, [lon1, lat1, lon2, lat2])

    newlon = lon2 - lon1
    newlat = lat2 - lat1

    haver_formula = np.sin(newlat / 2.0) ** 2 + np.cos(lat1) * np.cos(lat2) * np.sin(newlon / 2.0) ** 2

    dist = 2 * np.arcsin(np.sqrt(haver_formula))
    km = 6367 * dist  # 6367 for distance in KM, for miles use 3958

    return km

In [ ]:
df["distance"] = haversine_vectorize(df.customer_lng,df.customer_lat,df.seller_lng,df.seller_lat)

Now we can collect some information on customer by grouping.

In [ ]:
df_customer = df.groupby("customer_unique_id").agg(recency=("order_purchase_timestamp", lambda x: (df['order_purchase_timestamp'].max() + timedelta(days=1) - x.max()).days),
                                                  frequency=("customer_id",  "nunique"), 
                                                  monetary=("payment_value", "mean"),
                                                  score = ('review_score', 'mean'),
                                                  price = ('price' , 'mean'),
                                                  freight = ('freight_value' , 'mean'),
                                                  sequential_pay_number = ('payment_sequential', "mean"),
                                                  payment_installment = ("payment_installments", "mean"),
                                                  mean_delivery_delay = ("delivery_delay" , "mean"),
                                                  number_of_pic = ('product_photos_qty', "mean"),
                                                  description_lenght = ( 'product_description_lenght', "mean"),
                                                  lenght = ('product_length_cm', "mean"),
                                                  width = ('product_width_cm' , "mean"),
                                                  weight = ('product_weight_g' , "mean"),
                                                  height = ('product_height_cm' , "mean"),
                                                  name_lenght = ('product_name_lenght' , "mean") , 
                                                  mean_distance = ("distance" , "mean"),
                                                  total_freight = ('freight_value' , 'mean'),
                                                  total_spend=("payment_value", "sum"),
                                                  item_value=("price", "sum")
                                                  )

df_customer["freight_ratio"] = df_customer["total_freight"] / df_customer["total_spend"]
df_customer["price_ratio"] = df_customer["item_value"] / df_customer["total_spend"]
df_customer.drop(["total_freight", "total_spend", "item_value"], axis=1, inplace=True)                                                  
df_customer.shape

<a id="viz"></a>
## <span style="color:#33afff  ;"> Visualization </span>

In [ ]:
def create_boxplot(df: pd.DataFrame, features: List[str]) -> None:
    """
    Creates boxplots for numerical features in a DataFrame.

    Args:
        df (pd.DataFrame): The DataFrame containing the data.
        features (List[str]): A list of numerical feature names.

    Returns:
        None: Displays the boxplots.

    Raises:
       None.
    """

    num_features = len(features)
    fig, ax = plt.subplots(int(np.ceil(num_features / 2)), 2, figsize=(18, 15))
    plt.suptitle('Numerical Features Boxplot', size=20)
    ytop = 0.96 - 0.4 * np.exp(-num_features / 5)
    plt.subplots_adjust(top=ytop)
    medianprops = dict(linestyle="-", linewidth=2, color="yellow")

    for feature, subplot in zip(features, ax.flatten()):
        sns.set(font_scale=1)
        sns.boxplot(x=df[feature], color='#009ACD', saturation=1,
                    medianprops=medianprops,
                    flierprops={"markerfacecolor": "mediumseagreen"},
                    whis=1.5, ax=subplot)
        subplot.set_title(f'Boxplot: {feature}')
        subplot.set_xlabel(feature, size=12)

    fig.tight_layout()
    plt.show()

In [ ]:
boxplot(df_customer, df_customer.columns)

Some features such as <code>recency, monetary, score, lenght, description_lenght mean_distance, mean_delivery_delay,...</code> are well distributed among the customer.

This observation show that all these features can be a good factor in our customer segmentation.

In [ ]:
barplot(df_customer, df_customer.columns, x = "frequency")

In [ ]:
df_customer.hist(figsize=(20,20), layout=(7,3), alpha=1, color='#4682b4', ec="k")
plt.tight_layout()
plt.show()

In [ ]:
plt.figure(figsize=(20, 20))
sns.boxplot(data=df_customer, x= "frequency", y='monetary', dodge=True)
plt.show()

In [ ]:
plt.figure(figsize=(20, 20))
sns.boxplot(data=df_customer, x= "frequency", y='monetary', dodge=True)
plt.show()

In [ ]:
corr = df_customer.corr()
fig = ff.create_annotated_heatmap(
    z=corr.to_numpy().round(2),
    x=list(corr.index.values),
    y=list(corr.columns.values),       
    xgap=3, ygap=3,
    zmin=-1, zmax=1,
    colorscale='earth',
    colorbar_thickness=30,
    colorbar_ticklen=3,
)
fig.update_layout(title_text='<b>Annotated correlation Matrix heatmap<b>',
                  title_x=0.5,
                  titlefont={'size': 24},
                  width=1200, height=850,
                  xaxis_showgrid=False,
                  xaxis={'side': 'bottom'},
                  yaxis_showgrid=False,
                  yaxis_autorange='reversed',                   
                  paper_bgcolor=None,
                  )
fig.show()

Monetary pays and price are too much correlated. freight ration and price alse are too much corellated.

So, in our attempt to cluster ou customers, we need to take into account this corellation

<a id="export"></a>
# <h1 style="background-color:#82e0aa ;padding:18px;border-radius:10px;border:3px solid #3339ff;color:#21618c;text-align:center" >Export DataFrames</h1>

In [ ]:
data = df_customer.to_csv("customer_profile.csv")

In [ ]:
olist_data = df.to_csv("olist_data.csv", index=False)

let's test some alogrithm now